.cards {
  font-family: "Inter", sans-serif;
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 282px);
  padding: 0;
  list-style: none;
  grid-gap: 20px 17px;
  margin-top: 47.25px;
  margin-bottom: 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .cards__list {
    margin-top: 36px;
    grid-template-columns: repeat(1, 282px);
    grid-row-gap: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .cards__list {
    margin-top: 36px;
    grid-template-columns: repeat(2, 282px);
    grid-row-gap: 20px;
  }
}
