.card__button-add {
  background: transparent url(../images/add_button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  background-size: 22px;
  margin-left: auto;
  padding: 0;
  border: solid #fff 2px;
  border-radius: 2px;
}

.card__button-add:hover {
  opacity: 0.6;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__delete-button {
  position: absolute;
  margin-top: 18px;
  margin-left: 249px;
  padding: 0;
  border: none;
  background: transparent url(../images/Trash.svg) center no-repeat;
  width: 18px;
  height: 19px;
}

.card__delete-button:hover {
  opacity: 0.6;
}

.card__info {
  display: flex;
  background-color: #fff;
  color: black;
  padding: 25px 20px 25px 20px;
  align-items: center;
  justify-content: space-between;
}

.card__text {
  max-width: 219px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: url(../images/like_button_inactive.svg) center no-repeat;
  border: none;
  width: 21px;
  height: 18px;
  padding: 0;
}

.card__like-button:hover {
  opacity: 0.5;
  fill: black;
}

.card__like-button_activated {
  background: url(../images/like_button_active.svg);
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .card__add-button {
    background-size: 16px;
    width: 282px;
    margin-left: 0;
  }
}
