.profile {
  max-width: 880px;
  display: flex;
  margin-top: 36.25px;
  height: 120px;
  align-items: center;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  margin-left: 30px;
  font-family: "Inter", sans-serif;
  align-items: center;
}

.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  grid-area: title;
  margin: 0;
}

.profile__description {
  font-weight: 400px;
  font-size: 18px;
  line-height: 1.2;
  grid-area: description;
  margin: 0;
}

.profile__edit-button {
  background: transparent url(../images/edit_button.svg) center no-repeat;
  width: 24px;
  height: 24px;
  grid-area: button;
  border: solid #fff 1px;
  padding: 0;
  margin-left: 18px;
}

.profile__edit-button:hover {
  opacity: 0.5;
}

.profile__add-button {
  background: transparent url(../images/add_button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  padding: 0;
  border: solid #fff 2px;
}

.profile__add-button:hover {
  opacity: 0.5;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    height: 286px;
  }

  .profile__info {
    max-width: 270px;
    margin-top: 26.25px;
    margin-left: 0;
    margin-bottom: 36px;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile__title {
    padding-left: 25px;
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
  }

  .profile__description {
    margin-top: 14px;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
  }

  .profile__edit-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
  }

  .profile__add-button {
    width: 282px;
    height: 50px;
    margin-left: 0;
    padding: 0;
  }
}
