.profile {
  max-width: 880px;
  display: flex;
  margin-top: 40px;
  align-items: center;
}

.profile__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.profile__picture-edit {
  background: transparent url(../images/profile_picture_edit_button.svg) center
    no-repeat;
  position: absolute;
  width: 26px;
  height: 26px;
  padding: 59px;
  border: none;
  top: 0px;
  left: 0px;
  visibility: hidden;
  border-radius: 70%;
}

.profile__button-add {
  background: transparent url(../images/add_button.svg) center no-repeat;
  width: 150px;
  height: 50px;
  background-size: 22px;
  margin-left: auto;
  padding: 0;
  border: solid #fff 2px;
  border-radius: 2px;
}

.profile__button-add:hover {
  opacity: 0.6;
}

.profile__image-container:hover {
  opacity: 0.4;
}

.profile__image-container:hover .profile__picture-edit {
  visibility: visible;
  transition: opacity 2s linear;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  margin-left: 30px;
  font-family: "Inter", sans-serif;
  align-items: center;
}

.profile__title {
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  grid-area: title;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__description {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  grid-area: description;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__edit-button {
  background: transparent url(../images/edit_button.svg) center no-repeat;
  width: 24px;
  height: 24px;
  background-size: 10px;
  grid-area: button;
  border: solid #fff 1px;
  padding: 0;
  margin-left: 18px;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
  }

  .profile__info {
    max-width: 270px;
    margin-top: 26.25px;
    margin-left: 0;
    margin-bottom: 36px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .profile__title {
    min-width: 210px;
    padding-left: 25px;
    font-size: 22px;
    line-height: 1.2;
    text-align: center;
  }

  .profile__description {
    margin-top: 14px;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
  }

  .profile__edit-button {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    background-size: 7.5px;
  }
  .profile__button-add {
    background-size: 16px;
    width: 282px;
    margin-left: 0;
  }

  .profile__picture-edit {
    left: 85px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .profile {
    max-width: 760px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
}
